#account {
  display: table;
  height: 100px;
  margin: 2% auto;
  min-width: 30%;
  max-width: 90%;
  text-align: left;
}

#account img {
  border-radius: 50%;
  float: left;
  height: 100px;
  margin: 0 10px;
  width: 100px;
}

#accountData {
  color: #72B03A;
  font-weight: bold;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

#accountData p {
  margin: 1% 0;
}

#accountData a:link, #accountData a:visited {
  color: #72B03A;

}

#accountData a:hover, #accountData a:active {
  color:#215f63;
}

